body {
  height: 98%;
  background: rgb(111,89,110);
  background: -moz-linear-gradient(-45deg, rgba(111,89,110,1) 0%, rgba(221,185,170,1) 43%, rgba(221,185,170,1) 43%, rgba(226,184,165,1) 50%, rgba(224,178,159,1) 55%, rgba(162,108,128,1) 89%, rgba(125,92,115,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(111,89,110,1) 0%,rgba(221,185,170,1) 43%,rgba(221,185,170,1) 43%,rgba(226,184,165,1) 50%,rgba(224,178,159,1) 55%,rgba(162,108,128,1) 89%,rgba(125,92,115,1) 100%);
  background: linear-gradient(135deg, rgba(111,89,110,1) 0%,rgba(221,185,170,1) 43%,rgba(221,185,170,1) 43%,rgba(226,184,165,1) 50%,rgba(224,178,159,1) 55%,rgba(162,108,128,1) 89%,rgba(125,92,115,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f596e', endColorstr='#7d5c73',GradientType=1 );
}

.center-block { display: table; margin: 10 auto;}
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 30%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #e85113 none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


@media only screen and (max-width: 1200px) {
    .main-div {
        max-width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .main-div {
        max-width: 100%;
        padding: 10px 20px 20px 20px;
        margin: : 5px, auto, 10px;
    }
}
